@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro Text";
  src: local("SF Pro Text"), url(../font/SFProText-Regular.ttf) format("truetype");
}

:root {
  --color--primary: #3d3d3d;
}

body {
  font-family: "SF Pro Text";
  color: var(--color--primary);
}
